<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QuestionAnalisys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.1118.0" newVersion="5.0.1118.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <QuestionAnalisys.Properties.Settings>
      <setting name="QuestionAnalisys_NpChunkerRoWS_NpChunkerRoWS"
        serializeAs="String">
        <value>http://nlptools.infoiasi.ro:80/WebNpChunkerRo/NpChunkerRoWS</value>
      </setting>
      <setting name="QuestionAnalisys_PosTaggerRoWS_PosTaggerRoWS"
        serializeAs="String">
        <value>http://nlptools.infoiasi.ro:80/WebPosRo/PosTaggerRoWS</value>
      </setting>
      <setting name="QuestionAnalisys_NamedEntityRecognizerWS_NamedEntityRecognizerWS"
        serializeAs="String">
        <value>http://nlptools.infoiasi.ro:80/UAIC.NamedEntityRecognizer/NamedEntityRecognizerWS</value>
      </setting>
      <setting name="QuestionAnalisys_AnaphoraResolutionWS_AnaphoraResolutionWS"
        serializeAs="String">
        <value>http://nlptools.infoiasi.ro:80/UAIC.AnaphoraResolution/AnaphoraResolutionWS</value>
      </setting>
      <setting name="QuestionAnalisys_DiscourseParserWS_DiscourseParserWS"
        serializeAs="String">
        <value>http://nlptools.infoiasi.ro:80/UAIC.DiscourseParser/DiscourseParserWS</value>
      </setting>
      <setting name="QuestionAnalisys_Racai_TTL" serializeAs="String">
        <value>http://ws.racai.ro:8080/pdk/ttlws</value>
      </setting>
    </QuestionAnalisys.Properties.Settings>
  </applicationSettings>
</configuration>