<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://smartqa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>smartqa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>smartqa</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$smartqa</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SmartQA.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:gyfba7sacb.database.windows.net,1433;Initial Catalog=SmartQuizZ_db;User ID=SmartQuiz@gyfba7sacb;Password=Madalina1893" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SmartQA.Models.ApplicationDbContext, SmartQA" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:gyfba7sacb.database.windows.net,1433;Initial Catalog=smartqa_db;User ID=SmartQuiz@gyfba7sacb;Password=Madalina1893" Name="Data Source=tcp:gyfba7sacb.database.windows.net,1433;Initial Catalog=smartqa_db;User Id=SmartQuiz@gyfba7sacb;Password=Madalina1893" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:gyfba7sacb.database.windows.net,1433;Database=SmartQuizZ_db;User ID=SmartQuiz@gyfba7sacb;Password=Madalina1893;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:gyfba7sacb.database.windows.net,1433;Database=SmartQuizZ_db;User ID=SmartQuiz@gyfba7sacb;Password=Madalina1893;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gyfba7sacb.database.windows.net,1433;Initial Catalog=smartqa_db;User Id=SmartQuiz@gyfba7sacb;Password=Madalina1893</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartQA.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gyfba7sacb.database.windows.net,1433;Initial Catalog=SmartQuizZ_db;User ID=SmartQuiz@gyfba7sacb;Password=Madalina1893</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SmartQA.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>